@page
@model Spider_EMT.Pages.ProfileCategoryAssignModel
@{
    ViewData["Title"] = "Assign Profile Category";
}

@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.success('@TempData["success"]');
    </script>
}
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.error('@TempData["error"]');
    </script>
}

<div class="mb-2" style="display:flex; flex-direction:row;justify-content:space-evenly; align-content:center;">
    <form method="post" id="categoryAssignForm">
        <div id="createProfileSection" class="column form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:fit-content;font-size:2rem;">
            <input type="hidden" id="SelectedProfileId" name="SelectedProfileId" />
            <input type="hidden" id="SelectedCategoriesJson" name="SelectedCategoriesJson" />
            <input type="hidden" id="SelectedCategoriesJson" name="SelectedCategoriesJson" />
            <input type="hidden" id="SelectedProfileName" name="SelectedProfileName" />

            <div class="form-control border-2 mb-2 col" style="display:flex; justify-content:space-around;height:auto; flex-direction:column;font-size:1.5rem;">
                <div class="pb-1 pt-2 row">
                    <h2 style="color:#17a2b8; text-align:center; font-size:2rem;">Assign Categories to Profile</h2>
                    <div>
                        <hr />
                    </div>
                    <!-- Profile Dropdown -->
                    <div class="mb-3">
                        <label class="form-label" style="font-size:1.2rem;">Select a Profile</label>
                        <select asp-for="profileSite.ProfileName" id="ProfileId" class="form-select" style="font-size:1.2rem;" id="profileSelect">
                            <option value="" disabled selected>Select a Profile</option>
                            @foreach (var profile in Model.AllProfilesData)
                            {
                                <option value="@profile.ProfileId" data-profilename="@profile.ProfileName">@profile.ProfileName</option>
                            }
                        </select>
                        <span asp-validation-for="profileSite.ProfileName" class="text-danger fw-bold" style="font-size: 1.2rem;"></span>
                    </div>

                    <!-- Multi-Select for Categories -->
                    <div class="mb-3">
                        <div class="form-check-label" style="display:flex; justify-content:flex-start; width:inherit;">
                            <label id="CategoryIdsLabel" for="CategoryIds" class="form-label" style="font-size:1.2rem; white-space:nowrap;">Select Categories</label>
                        </div>
                        
                        <select id="CategoryIds" class="form-control" style="font-size:1.2rem; height:15rem" name="CategoryIds" multiple required>
                            <option value="" disabled selected>Select Categories</option>
                            @foreach (var category in Model.AllCategoriesData)
                            {
                                <option value="@category.PageCatId">@category.CategoryName</option>
                            }
                        </select>
                    </div>

                    <!-- Placeholder for dynamic sections -->
                    <div id="dynamicCategorySections" class="mb-3">
                        <!-- New Category section will be appended here -->
                    </div>

                </div>
            </div>

            <!-- Buttons for form submission -->
            <div class="form-control border-2 col" style="display: flex; justify-content:space-around;height:auto;">
                <div class="row">
                    <div class="col-3">
                        <button type="submit" class="btn" style="width:140px; background-color:#17a2b8;color:white">Assign</button>
                    </div>
                    <div class="col-3 ms-2 me-2">
                        <button id="ClearBtn" type="reset" class="btn" style="width:140px; background-color:#17a2b8;color:white">Clear</button>

                    </div>
                    <div class="col-3">
                        <a asp-page="/Index" class="btn btn-secondary" style="width:180px;"> Back to Transactions</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/profileCategoryAssign.js" asp-append-version="true"></script>
    <script>
        // Serialize the pages and categories models into JSON objects
        var availableCategoryLst = @Html.Raw(Json.Serialize(Model.AllCategoriesData));
        var selectedCategoryLst = [];
    </script>
}

