@page
@model Spider_EMT.Pages.ReadUserProfileModel
@{
    ViewData["Title"] = "View User Profile";
    TempData["NavigationalPageName"] = "View User Profile";
    int @categoryCount = 0;
}

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form>
        <div id="readUserProfileDiv" class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:70%;font-size:2rem;">

            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around; height:auto; flex-direction:column; font-size:1.5rem;">
                <div class="row pb-1 pt-2">
                    <div style="color:#17a2b8; text-align:center; font-size:1.7rem; font-weight:500">USER PROFILE</div>
                    <div>
                        <hr />
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold" style="font-size:1.2rem">User Details</div>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="font-size:1rem;">

                        <!-- User ID and ID Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="CurrentUserDetailsData.UserId" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                    </div>
                                    <input asp-for="CurrentUserDetailsData.UserId" placeholder="User ID" class="form-control" readonly />
                                </div>
                            </div>
                            <div style="flex: 1;">
                                <label asp-for="CurrentUserDetailsData.IdNumber" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-id-badge"></i></span>
                                    </div>
                                    <input type="text" asp-for="CurrentUserDetailsData.IdNumber" placeholder="National/Iqama Number" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="CurrentUserDetailsData.IdNumber" class="text-danger fw-bold"></span>
                            </div>
                        </div>
                        <!-- Full Name Field -->
                        <div class="mb-3">
                            <label asp-for="CurrentUserDetailsData.FullName" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" asp-for="CurrentUserDetailsData.FullName" placeholder="Full Name" class="form-control" disabled />
                            </div>
                            <span asp-validation-for="CurrentUserDetailsData.FullName" class="text-danger fw-bold"></span>
                        </div>

                        <!-- Email and Mobile Number on one line -->
                        <div class="mb-3" style="display: flex; justify-content: space-between;">
                            <div style="flex: 1; margin-right: 10px;">
                                <label asp-for="CurrentUserDetailsData.Email" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                    </div>
                                    <input type="email" asp-for="CurrentUserDetailsData.Email" placeholder="Email Address" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="CurrentUserDetailsData.Email" class="text-danger fw-bold"></span>
                            </div>
                            <div style="flex: 1;">
                                <label asp-for="CurrentUserDetailsData.MobileNo" class="form-label"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                    </div>
                                    <input type="tel" asp-for="CurrentUserDetailsData.MobileNo" placeholder="Mobile Number" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="CurrentUserDetailsData.MobileNo" class="text-danger fw-bold"></span>
                            </div>
                        </div>

                        <!-- Dropdown to Select Profile Name -->
                        <div class="mb-3">
                            <label asp-for="CurrentUserDetailsData.ProfileSiteData.ProfileName" class="form-label"></label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input asp-for="CurrentUserDetailsData.ProfileSiteData.ProfileName" class="form-select striped-select" disabled />
                            </div>
                            <span asp-validation-for="CurrentUserDetailsData.ProfileSiteData.ProfileName" class="text-danger fw-bold"></span>
                        </div>

                    <!-- Status with radio buttons on one line -->
                    <div class="mb-3" style="display: flex; justify-content: flex-start; align-items: center;  column-gap:2rem">
                        <label asp-for="CurrentUserDetailsData.UserStatus" class="form-label" style="margin-right: 10px;">Status</label>
                        @foreach (var checkbox in Model.StatusCheckboxes)
                        {
                            <div>
                                <input type="checkbox" class="form-check-input" name="UserStatusLst" id="checkbox_@checkbox" value="@checkbox" checked disabled />
                                <label for="checkbox_@checkbox" class="fw-normal" style="font-size:1.1rem">@checkbox</label>
                            </div>
                        }
                    </div>
                    </div>
                </div>

                <hr />

                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold" style="font-size:1.2rem">Categories View</div>
                        <div class="card-tools">
                            <span title="New Messages" class="badge badge-warning">@Model.StructureData.Count</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body" style="font-size:1rem;">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" id="categoriesAccordion">
                            <!-- Populate categories here -->
                            @foreach (var catagoryData in Model.StructureData)
                            {
                                <li class="nav-item" id="category-@categoryCount">
                                    <a href="#" class="nav-link">
                                        <i class="far ion-ios-briefcase-outline nav-icon"></i>
                                        <p>
                                            @catagoryData.CatagoryName
                                            <i class="right fas fa-angle-left"></i>
                                        </p>
                                    </a>
                                    <ul class="nav-treeview">
                                        @foreach (var pageSite in catagoryData.Pages)
                                        {
                                            <li class="nav-item">
                                                <a href="@pageSite.PageUrl" class="nav-link">
                                                    <i class="far ion-paper-airplane nav-icon"></i>
                                                    <p>@pageSite.PageDescription</p>
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                categoryCount++;
                            }
                        </ul>
                    </div>

                </div>

                <hr />

                <div class="card">
                    <div class="card-header">
                        <div class="card-title fw-bold" style="font-size:1.2rem">Pages View</div>
                        <div class="card-tools">
                            <span class="badge badge-warning">@Model.CurrentPageSites.Count</span>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body" style="font-size:1rem;">
                        <ul class="nav nav-pills nav-sidebar" data-widget="treeview" role="menu" data-accordion="false" id="dynamicPagesList" style="display: flex; flex-wrap: wrap; padding: 0;">
                            <!-- Populate pages here -->
                            @foreach (var pageSite in Model.CurrentPageSites)
                            {
                                <li class="nav-item pageViewDiv" style="flex: 1 0 30%; box-sizing: border-box; padding: 2px; list-style: none; height: auto;">
                                    <a href="@pageSite.PageUrl" class="nav-link" style="display: flex; flex-direction: row; justify-content: start; align-items: start; height: 100%; padding: 5px; border: 1px solid #ddd; border-radius: 5px; text-decoration: none; text-align: start;">
                                        <i class="far ion-paper-airplane nav-icon" style="margin-left:2px; margin-right:2px;"></i>
                                        <p>@pageSite.PageDescription</p>
                                    </a>
                                </li>
                            }
                            @if (Model.CurrentPageSites.Count() % 3 == 2)
                            {
                                <li class="nav-item" style="flex: 1 0 30%; box-sizing: border-box; padding: 10px; list-style: none;"></li>
                            }
                            @if (Model.CurrentPageSites.Count() % 3 == 1)
                            {
                                <li class="nav-item" style="flex: 1 0 30%; box-sizing: border-box; padding: 10px; list-style: none;"></li>
                                <li class="nav-item" style="flex: 1 0 30%; box-sizing: border-box; padding: 10px; list-style: none;"></li>
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/readUserProfile.js" asp-append-version="true"></script>
}