@page
@model Spider_EMT.Pages.UpdateTransactionFeesModel
@{
    ViewData["Title"] = "Transaction Fee Details";
}

@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.success('@TempData["success"]');
    </script>
}
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.error('@TempData["error"]');
    </script>
}

<div class="mt-2 bottomDiv">
    @if (Model.TransactionFeeAmounts != null && Model.TransactionFeeAmounts.TxnFeeId > 0)
    {
        <div class="container form-control border-2" style="width:40%; height:auto; background-color: #f4f0ec">
            <form method="post">
                <input hidden asp-for="@Model.TransactionFeeAmounts.TxnFeeId" />

                <div class="border p-3 mt-4" style="background-color:white">
                    <div class="row pb-2">
                        <h2 style="color:#17a2b8; text-align:center">Transaction Fee Details</h2>
                        <hr style="width:95%" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.TransactionFeeAmounts.CWTxnFee"></label>
                        <input asp-for="@Model.TransactionFeeAmounts.CWTxnFee" class="form-control" />
                        <span asp-validation-for="@Model.TransactionFeeAmounts.CWTxnFee" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.TransactionFeeAmounts.BITxnFee"></label>
                        <input asp-for="@Model.TransactionFeeAmounts.BITxnFee" class="form-control" />
                        <span asp-validation-for="@Model.TransactionFeeAmounts.BITxnFee" class="text-danger"></span>

                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.TransactionFeeAmounts.MSTxnFee"></label>
                        <input asp-for="@Model.TransactionFeeAmounts.MSTxnFee" class="form-control" />
                        <span asp-validation-for="@Model.TransactionFeeAmounts.MSTxnFee" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.TransactionFeeAmounts.ChangePin"></label>
                        <input asp-for="@Model.TransactionFeeAmounts.ChangePin" class="form-control" />
                        <span asp-validation-for="@Model.TransactionFeeAmounts.ChangePin" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3 me-3">
                            <button type="submit" class="btn" style="width:160px; background-color:#17a2b8;color:white">Update</button>
                        </div>
                        <div class="col-4 ms-3">
                            <a asp-page="/Index" class="btn btn-secondary" style="width:180px;"> Back to Transactions</a>
                        </div>
                        <div class="col-3"></div>
                    </div>


                </div>
            </form>
        </div>
    }
    else
    {
        <!-- No data, perform add -->
        <div class="container form-control border-2" style="width:40%; height:auto; background-color: #f4f0ec">
            <form method="post">
                <div class="border p-3 mt-4" style="background-color:white">
                    <div class="row pb-2">
                        <h2 style="color:#17a2b8; text-align:center">Transaction Fee Details</h2>
                        <hr style="width:95%" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="TransactionFeeAmounts.CWTxnFee"></label>
                        <input asp-for="TransactionFeeAmounts.CWTxnFee" class="form-control" value="" />
                        <span asp-validation-for="TransactionFeeAmounts.CWTxnFee" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TransactionFeeAmounts.BITxnFee"></label>
                        <input asp-for="TransactionFeeAmounts.BITxnFee" class="form-control" value="" />
                        <span asp-validation-for="TransactionFeeAmounts.BITxnFee" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TransactionFeeAmounts.MSTxnFee"></label>
                        <input asp-for="TransactionFeeAmounts.MSTxnFee" class="form-control" value="" />
                        <span asp-validation-for="TransactionFeeAmounts.MSTxnFee" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="TransactionFeeAmounts.ChangePin"></label>
                        <input asp-for="TransactionFeeAmounts.ChangePin" class="form-control" value="" />
                        <span asp-validation-for="TransactionFeeAmounts.ChangePin" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-3 me-3">
                            <button type="submit" class="btn" style="width:160px; background-color:#17a2b8;color:white">Add</button>
                        </div>
                        <div class="col-4 ms-3">
                            <a asp-page="/Index" class="btn btn-secondary" style="width:180px;"> Back to Transactions</a>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
            </form>
        </div>
    }

</div>