@page
@model Spider_EMT.Pages.UpdateUserAccessControlModel
@{
    ViewData["Title"] = "Update User Access Control";
}

@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.success('@TempData["success"]');
    </script>
}
@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.options = {
            "positionClass": "toast-bottom-right", // Set the position to right bottom
        };
        toastr.error('@TempData["error"]');
    </script>
}

<div class="mb-2 container" style="display:flex; flex-direction:row; justify-content:space-between; align-content:center;">
    <div class="fw-bolder" style="font-size:1.5rem; color:#17a2b8">User Access Control List</div>
    <a class="btn btn-outline-secondary" href="/CreateUserAccessControl">
        <i class="icon ion-plus"></i> 
        Create User Access Control List
    </a>
</div>

<div class="mb-2" style="display:flex; flex-direction:column;justify-content:space-evenly;">
    <form method="post" onsubmit="prepareFormSubmission();">
        <div id="createProfileSection" class="container form-control pt-4 pb-2" style="height:auto; background-color: #f4f0ec; width:fit-content;font-size:2rem;">
            <input type="hidden" id="SelectedProfileId" name="SelectedProfileId" />
            <input type="hidden" id="SelectedProfileName" name="SelectedProfileName" />
            <input type="hidden" id="SelectedPagesJson" name="SelectedPagesJson" />

            <div class="container form-control border-2 mb-2" style="display:flex; justify-content:space-around;height:auto; flex-direction:column;font-size:1.5rem;">
                <div class="row pb-1 pt-2">
                    <h2 style="color:#17a2b8; text-align:center; font-size:2rem;">Update User Access Control List</h2>
                    <div>
                        <hr />
                    </div>
                    <!-- Profile Dropdown -->
                    <div class="mb-3">
                        <label for="ProfileId" class="form-label" style="font-size:1.2rem;">Select Profile</label>
                        <select id="ProfileId" class="form-control" name="ProfileId" style="font-size:1.2rem;">
                            <option value="" disabled selected>Select a Profile</option>
                            @foreach (var profile in Model.AllProfilesData)
                            {
                                <option value="@profile.ProfileId">@profile.ProfileName</option>
                            }
                        </select>
                        <input type="hidden" id="ProfileName" name="ProfileName" />
                    </div>

                    <!-- Checkboxes to select pages -->
                    <div class="mb-3">
                        <label class="form-label" style="font-size:1.2rem;">Select Pages</label>
                        <div class="form-check" style="display: flex; flex-wrap: wrap; column-gap: 10px; justify-content: flex-start;">
                            
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buttons for form submission -->
            <div class="container form-control border-2" style="display: flex; justify-content:space-around;height:auto;">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 me-4">
                        <button type="submit" class="btn" style="width:140px; background-color:#17a2b8;color:white">Update</button>
                    </div>
                    <div class="col-4 ms-3">
                        <a asp-page="/Index" class="btn btn-secondary" style="width:180px;"> Back to Transactions</a>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/updateUserAccessControl.js"></script>
    <script>
        // Serialize the pages and categories models into JSON objects
        var availablePagesLst = @Html.Raw(Json.Serialize(Model.AllPageSites));
        var selectedPagesLst = [];
    </script>
}